@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.3);
  border: solid 3px transparent;
  border-radius: 10px;
}

.lexihover-definition-box * {
  all: revert;
}

.lexihover-definition-box {
  position: absolute;
  font-family: "Poppins", sans-serif;
  color: #000;
  width: 350px;
  height: 125px;
  background: #fbf4a0;
  z-index: 999999999;

  border: 2px solid #000;
  border-radius: 10px;
  overflow: overlay;
  box-shadow: 0.5vmin 0.5vmin #000;
}

.lexihover-definition-box .lexihover-inner-box {
  position: relative;
}

.lexihover-definition-box .lexihover-margin-container {
  padding: 5px;
}

.lexihover-definition-box h1 {
  color: #000;
  font-size: 14px;
  margin: 0;
}

.lexihover-definition-box ol {
  padding-left: 20px;
  margin: 10px 0;
}

.lexihover-definition-box li {
  font-size: 14px;
}

.lexihover-definition-box hr {
  border: none;
  height: 2px;
  background-color: #000;
}

.lexihover-definition-box dl {
  font-style: italic;
}

.lexihover-definition-box dd {
  margin-left: 15px;
}
